* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

body {
  line-height: $line-height;
  font-family: $font-family;
  background-color: $background-color;
}